table {
    border-collapse: collapse;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
  }

  td {
    color: #555;
  }
  .leave--history{
    display: flex;
    justify-content: center;
  }
  h3{
    margin-left: 15%;
  }