<h3>Leave History</h3>
  <div class="leave--history">
    <table>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Leave Type</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>user1</td>
          <td>25/11/2023</td>
          <td>sick leave</td>
          <td>approved</td>
        </tr>
        <tr>
          <td>user1</td>
          <td>25/11/2023</td>
          <td>sick leave</td>
          <td>approved</td>
        </tr>
        <!-- Add more rows as needed -->
      </table>
  </div>
