<div class="login-container">
    <h2>Login</h2>
    <form class="login-form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required #username>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required #password>
        </div>
        <div class="form-group">
            <button type="submit" (click)="checkLogin()">Login</button>
        </div>
    </form>
</div>
