.section{
    display: flex;
    justify-content: center;
}
.sidebar{
    width:20%
}
.content{
    width: 70%;
    display: flex;
    justify-content: center;
}

.section .sidebar{
    border-right: 1px solid grey;
}